/* Author: Wassim Jabbour and Enzo Benoit-Jeannin - Inspired from https://codepen.io/jetpacmonkey/pen/DRNbgZ */

.employeeviewpurchases {
    color: black;
    width: 300px;
    float:left;
  }
  .employeeviewpurchases ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .employeeviewpurchases li {
    position: relative;
    padding-left: 30px;
    height: 50px;
    line-height: 50px;
    margin: 5px;
    border: 1px solid #aaa;
    border-radius: 8px;
    width: 200px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccccc), color-stop(25%,#ffffff), color-stop(75%,#ffffff), color-stop(100%,#cccccc)); 
    cursor: pointer;
    box-shadow: 2px 2px 3px #666;
    user-select: none;
  }
  
  .employeeviewpurchases li:before {
    position: absolute;
    content: "";
    left: 4px;
    top: 50%;
    margin-top: -10px;
    border-left: 20px solid #ccc;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }
  
  .employeeviewpurchases li:after {
    position: absolute;
    content: "";
    left: 4px;
    top: 50%;
    margin-top: -10px;
    border-left: 5px solid white;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }
  
  .employeeviewpurchases li:hover {
    border-color: rgb(87, 86, 86);
    box-shadow: 3px 3px 5px #333;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dddddd), color-stop(25%,#ffffff), color-stop(75%,#ffffff), color-stop(100%,#dddddd)); 
  }
  
  .employeeviewpurchases li:hover:before {
    border-left-color: #777;
  }
  
  .employeeviewpurchases li:active {
    background: #eee;
    box-shadow: inset 0 1px 1px #666;
  }

.error {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  color: red;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.error > div {
  background-color: rgba(0, 0, 0, 0.822);
  padding: 0.5em 1em;
  border-radius: 0.5rem;
}

.details {
  float: right;
}

.wrapper {
  width: 500px;
  overflow: auto;
}