
input {
  margin-bottom: 1rem;
  display: block;
}

.login-container {
  display: flex;
  justify-content: center;
}

.login-container > div,
.login-container > div > * {
  width: fit-content;
}

.a {
  text-decoration: none;
}

a:link, a:visited {
  color: white;
}

a:hover {
  color: lawngreen;
}


.error {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  color: red;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.error > div {
  background-color: rgba(0, 0, 0, 0.822);
  padding: 0.5em 1em;
  border-radius: 0.5rem;
}

.success {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  color: green;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.success > div {
  background-color: rgba(0, 0, 0, 0.822);
  padding: 0.5em 1em;
  border-radius: 0.5rem;
}
