*,
*::before,
*::after{
    box-sizing: border-box;
}

html{
    background-color: #303030;
    color: white;
    --color-accent: rgb(52, 75, 52);
    --color-accent-transparent: rgba(52, 75, 52, 0.205);
    --navbar-height: 4rem;
    font-family: sans-serif;
}

input{
    outline: none;
}

input[type="text"],
input[type="number"],
input[type="password"]{
    background-color: var(--color-accent-transparent);
    border: solid var(--color-accent);
    border-width: 0 0 1px 0;
    color: white;
    padding: 0.25em 0.5em;
}

button{
    padding: 0.25em 1em;
    background-color: var(--color-accent);
    border: none;
    color: white;
    border-radius: 0.25rem;
    border: solid transparent 2px;
    cursor: pointer;
}

button:hover{
    background-color: transparent;
    border: solid var(--color-accent) 2px;
}

.image-button{
    background: transparent;
    border: none;
}

.image-button:hover{
    border: none;
}

body{
    margin-top: var(--navbar-height);
    padding: 2rem;
    background-color: transparent;
    color: white;
}

.selectable-list{
    list-style: none;
    padding: 0;
}

.selectable-list > li{
    padding: 0.25rem 0.25rem;
    cursor: pointer;
    border-radius: 0.2rem;
}

.selectable-list > li:hover{
    background-color: rgba(168, 168, 168, 0.13);
}

.vertical-separator{
    align-self: stretch;
    border: solid whitesmoke;
    border-width: 0 0 0 1px;
}

.selector {
    width:200px;      
}

.card > img{
    width: 100%;
    height: 8rem;
    object-fit: contain;
}

.card button:hover  {
    color: var(--color-accent);
}

.card button[disabled] {
background-color: gray;
}

.card button[disabled]:hover  {
color: white;
border-color: gray;
cursor: default;
}

.allItems {
display: flex;
margin: 2rem 5rem;
flex-wrap: wrap;
justify-content: center;
}

.table {
    color: white;
    text-align: center;
    width:100%;  
}

.table td {
width: 20%;
margin-bottom: 2rem;
}

.table tr:first-child {
margin-bottom: 3rem;
}

.card {
    color: black;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background-color: white;
    width: 4rem;
    min-height: 16rem;
    text-align: center;
    border-radius: 1rem;
    padding: 1rem;
    overflow: hidden;
}



/* Hamburger menu styling */

.ham{
    display: flex;
    gap: 1rem
}

.ham > .menu{
    flex-basis: 33%;
}

.ham > .details{
    flex-basis: 66%;
}

.back-button{
    display: none;
}

@media(max-width: 750px){

    .ham{
        display: block;
        width: 100vw;
        white-space: nowrap;
        margin: 0 -2rem;
        overflow-x: hidden;
    }

    .ham > .menu,
    .ham > .details{
        width: 100%;
        display: inline-block;
        padding: 0 2rem;
        transition: ease 200ms;
        vertical-align: top;
    }

    .vertical-separator{
        display: none;
    }

    .back-button{
        display: block;
    }

    .menu-open{
        transform: translateX(0);
    }

    .menu-closed{
        transform: translate(-100%);
    }

}

@media(max-width: 460px){
    .ham > .menu,
    .ham > .details{
        padding: 0 0.5rem;
    }
}