/* User written styling of the file */
.card {
    color: black;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background-color: white;
    width: 4rem;
    min-height: 16rem;
    text-align: center;
    border-radius: 1rem;
    padding: 1rem;
    overflow: hidden;
}

.card button:hover  {
  color: var(--color-accent);
}

.card button[disabled] {
  background-color: gray;
}

.card button[disabled]:hover  {
  color: white;
  border-color: gray;
  cursor: default;
}

.allItems {
  display: flex;
  margin: 2rem 5rem;
  flex-wrap: wrap;
}

.table {
   color: white;
   text-align: center;
}

.error {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  color: red;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.error > div {
  background-color: rgba(0, 0, 0, 0.822);
  padding: 0.5em 1em;
  border-radius: 0.5rem;
}

.checkout {
  margin-top: 1.5em;
}


