/* User written styling of the file */
.error {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  color: red;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.error > div {
  background-color: rgba(0, 0, 0, 0.822);
  padding: 0.5em 1em;
  border-radius: 0.5rem;
}

.checkout {
  margin-top: 1.5em;
}



@media(max-width: 750px){ 
  
  .cartMobile{
    display: none;
    width: 0px;
    overflow: hidden;
  }

  .allItems{
    margin: 0rem 0rem;
  }

  table{
    table-layout: fixed;
  }

}

@media(max-width: 550px){ 

  .cartSmallMobile{
    display: none;
    overflow: hidden;
    width: 0px;

  }
}

