input{
    margin-bottom: 1rem;
    display: block;
}

body{
    line-height: 2;
}

.employeeviewshifts{
    display: flex;
    justify-content: center;
}

.employeeviewshifts > div,
.employeeviewshifts > div > *{
    width: fit-content;
}

table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    width: 57%;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.space {
    height:100px;
}