
.employeeviewshifts{
    display: flex;
    justify-content: center;
}

.employeeviewshifts > div,
.employeeviewshifts > div > *{
    width: fit-content;
}

table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    width: 57%;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.space {
    height:100px;
}

.error {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    color: red;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
  }

  .error > div {
    background-color: rgba(0, 0, 0, 0.822);
    padding: 0.5em 1em;
    border-radius: 0.5rem;
  }