/*
Styling for the system information page.
@author Theo Ghanem
 */

.ham{
  display: flex;
  gap: 1rem
}

.ham > .menu{
  flex-basis: 33%;
}

.ham > .details{
  flex-basis: 66%;
}
.selectable-list{
  margin-bottom: 0;
}

#header{
  margin-bottom: 2rem;

}
