.ham{
    display: flex;
    gap: 1rem
}

.ham > .menu{
    flex-basis: 33%;
}

.ham > .details{
    flex-basis: 66%;
}

.back-button{
    display: none;
}

@media(max-width: 750px){

    .ham{
        display: block;
        width: 100vw;
        white-space: nowrap;
        margin: 0 -2rem;
        overflow-x: hidden;
    }

    .ham > .menu,
    .ham > .details{
        width: 100%;
        display: inline-block;
        padding: 0 2rem;
        transition: ease 200ms;
        vertical-align: top;
    }

    .vertical-separator{
        display: none;
    }

    .back-button{
        display: block;
    }

    .menu-open{
        transform: translateX(0);
    }

    .menu-closed{
        transform: translate(-100%);
    }

}

@media(max-width: 460px){
    .ham > .menu,
    .ham > .details{
        padding: 0 0.5rem;
    }
}