.editable-list{
    list-style-type: none;
    padding-left: 0;
}

.editable-list > li{
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
    max-width: 100%;
    width: 20rem;
}

.editable-list button{
    padding: 0 0.1rem;
}

.editable-list p{
    margin: 0;
    display: inline-block;
}

.editable-list > li > p,
.editable-list > li > input{
    flex-basis: 100%;
}

.create-category{
    margin-top: 3rem;
    width: 20rem;
    max-width: 100%;
}

.create-category-input{
    width: 100%;
    display: flex;
    align-items: center;
}

.create-category-input > input{
    flex-basis: 100%;
}

.create-category-input > button{
    margin-left: 0.5rem;
}

.create-category h3{
    margin: 0;
}

.editable-list input{
    min-width: none;
}

.error {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    color: red;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

.error > div {
    background-color: rgba(0, 0, 0, 0.822);
    padding: 0.5em 1em;
    border-radius: 0.5rem;
}

@media (max-width: 370px){

    .addModifyCategory{
        margin: 0 -1rem;
    }

}
