input{
    display: block;
}

table{
    width: 70%;
}

input{
    margin-bottom: 0.5rem;
}

button{
    margin-bottom: 1rem;
    display: flex;
    list-style-type: none;

}
.buttons{
  float: left;
  justify-content: center;
  margin-left: 0;
  padding-left: 0;

}

/* Center the title */
td.space {
    font-size: 130%;
    line-height: 100px;
    vertical-align:baseline;
}

.categories {
    font-size: 120%;
    justify-content: left;
}

.error {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    color: red;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
  }

  .error > div {
    background-color: rgba(0, 0, 0, 0.822);
    padding: 0.5em 1em;
    border-radius: 0.5rem;
  }
