/*
Styling for the system information page.
@author Theo Ghanem
 */


input {
  margin-bottom: 1rem;
  display: inline-block;
  /*width: 400px;*/
}

input#startTimeInput {
  width: 75px;
  text-align: center;
}

input#endTimeInput {
  width: 75px;
  text-align: center;
}

input#feeinput {
  width: 75px;
}

input#cityinput {
  width: 100px;
  text-align: center;
}

.systemInformation-container {
  display: flex;
  justify-content: center;

}

.error {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  color: red;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.error > div {
  background-color: rgba(0, 0, 0, 0.822);
  padding: 0.5em 1em;
  border-radius: 0.5rem;
}

.success {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  color: green;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.success > div {
  background-color: rgba(0, 0, 0, 0.822);
  padding: 0.5em 1em;
  border-radius: 0.5rem;
}

.currentBH {
  border-collapse: separate;
  border-spacing: 20px 0;
}

td {
  padding: 10px 0;
}


@media only screen and (max-width: 480px) {
  /* horizontal scrollbar for tables if mobile screen */
  .currentBH {
    overflow-x: auto;
    display: block;
  }


  .systemInformation-container {
    display: block;
    justify-content: center;
  }

}

