name: Java CI with Gradle

on:
  push:
    branches: main
  pull_request:
    branches: main
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'     
        required: true
        default: 'warning' 
        type: choice
        options:
        - info
        - warning
        - debug 

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 17
      uses: actions/setup-java@v2
      with:
        java-version: '17'
        distribution: 'adopt'
        cache: gradle
    - name: Validate Gradle wrapper
      uses: gradle/wrapper-validation-action@e6e38bacfdf1a337459f332974bb2327a31aaf4b
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
      working-directory: GSSS-Backend
    - name: Build with Gradle
      run: ./gradlew build
      working-directory: GSSS-Backend
      
  integration-tests:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: akhileshns/heroku-deploy@v3.12.12
      with:
       heroku_api_key: c0c99c62-e5ed-4197-8d60-0a1953750e42
       heroku_app_name: "grocerystore-backend"
       heroku_email: "wassim.jabbour@mail.mcgill.ca"
    - name: Run Postman tests with Newman
      id: run-newman
      uses: anthonyvscode/newman-action@v1.1
      with:
        collection: GSSS-Backend/src/test/integration/postman-test-collection.json
        environment: GSSS-Backend/src/test/integration/postman-environment.json
        reporters: cli
        
  deploy:
    needs: integration-tests
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v2
    - uses: akhileshns/heroku-deploy@v3.12.12
      with:
        heroku_api_key: c0c99c62-e5ed-4197-8d60-0a1953750e42
        heroku_app_name: "grocerystore-backend"
        heroku_email: "wassim.jabbour@mail.mcgill.ca"
      env:
        HD_SPRING_PROFILES_ACTIVE: "production"
